#intro {
  background: url("../img/javascript.png") no-repeat center center;
  background-size: cover;
}

.top-nav-collapse {
  background-color: #D4AC0D !important;
}

.indigo2 {
  background-color: #D4AC0D !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #D4AC0D !important;
  }
}

#intro .h6 {
  font-weight: 300;
  line-height: 1.7;
}

.hm-gradient .full-bg-img {
  background: #D4AC0D;
  background: linear-gradient(45deg, #D4AC0D, rgba(29, 210, 177, 0.7) 100%);
}

@media (max-width: 450px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

#pricing .lead {
  opacity: 0.7;
}

#pricing .card-image {
  background: url("../img/javascript.png") no-repeat center center;
}

#pricing ul li {
  font-size: 1.1em;
}
